.container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    font-size: large;
    
    .code-github-link{
        color: red;
        font-size: 40px;
        @keyframes blink {
            50% {opacity: 0}
        }
        animation: blink 1s infinite
    }
    
}
