.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  .custom-black-button {
    background-color: black;
    color: white;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}