@import './components//button-style/buttons.styles.scss';

body {
  margin: 0;
  padding: 10px 30px;
  font-family: 'Saira Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

a {
  // Link internally uses 'a'
  text-decoration: none;
  color: black;
}
